.Channels {
    display: flex;
    width: 100%;
    flex: 1;
    margin: 0 auto;
}

.channelsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 2.7rem;
    width: 100%;
    overflow-y: scroll;
    width: 118rem;
    height: 69.6rem;
    justify-content: space-between;
}

.channelBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: #F2F2F2;
    border-radius: 0.8rem;
    height: 16.2rem;
    align-items: center;
}

.channelTextBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.logo1 {
    height: 6.4rem;
}

.logo2x2 {
    height: 4.9rem;
}

.rbcLogo {
    height: 5.4rem;
}

.amediaLogo {
    height: 6.4rem;
}

.progListFirst {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #E5261E;
    margin-top: 1.7rem;
    letter-spacing: -0.02rem;
}

.time {
    margin-right: 1.7rem;
}

.progList {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-top: 1.3rem;
    letter-spacing: -0.02rem;
}

@media screen and (min-width:928px) {
    .imgBox {
        width: 40rem
    }

    .progListFirst {
        font-size: 16px;
    }

    .progList {
        font-size: 16px;
    }
}

@media screen and (min-width: 730px) and (max-width: 927px) {
    .imgBox {
        width: 25rem
    }

    .progListFirst {
        font-size: 14px;
    }

    .progList {
        font-size: 14px;
    }
}

@media screen and (min-width: 520px) and (max-width: 729px) {
    .imgBox {
        width: 16rem
    }

    .progListFirst {
        font-size: 12px;
    }

    .progList {
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 519px) {
    .imgBox {
        width: 12rem
    }

    .progListFirst {
        font-size: 10px;
        overflow-wrap: break-word;
    }

    .progList {
        font-size: 10px;
        overflow-wrap: break-word;
    }
}