.channels {
    display: flex;
    width: 100%;
    flex: 1;
    margin: 0 auto;
}

.channels__channelsContainer {
    display: flex;
    flex-direction: column;
    margin-top: 1.9rem;
    width: 100%;
    overflow-y: scroll;
    width: 118rem;
    height: 70.4rem;
    justify-content: start;
}

.channels__channelsContainer_channelBox {
    display: flex;
    flex-direction: row;
    justify-content: left;
    background: #F2F2F2;
    border-radius: 0.8rem;
    height: 16.2rem;
    align-items: center;
    margin: 0.8rem 0;
    flex-shrink: 0;
}

.channels__channelsContainer_channelBox_channelTextBox {
    display: flex;
    flex-direction: column;
    text-align: left;
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
}

.channels__channelsContainer_channelBox_imgBox_logo1 {
    height: 6.4rem;
}

.channels__channelsContainer_channelBox_imgBox_logo2x2 {
    height: 4.9rem;
}

.channels__channelsContainer_channelBox_imgBox_rbcLogo {
    height: 5.4rem;
}

.channels__channelsContainer_channelBox_imgBox_amediaLogo {
    height: 6.4rem;
}

.channels__channelsContainer_channelBox_channelTextBox_progListFirst {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    color: #E5261E;
    margin-top: 1.7rem;
    letter-spacing: -0.02rem;
    overflow-block: hidden;
}

.channels__channelsContainer_channelBox_channelTextBox_progListFirst_time {
    margin-right: 1.7rem;
}

.channels__channelsContainer_channelBox_channelTextBox_progList_time {
    margin-right: 1.7rem;
}

.channels__channelsContainer_channelBox_channelTextBox_progList {
    display: flex;
    flex-direction: row;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-top: 1.3rem;
    letter-spacing: -0.02rem;
    overflow-block: hidden;
}

@media screen and (min-width:928px) {
    .channels__channelsContainer_channelBox_imgBox {
        width: 40rem
    }

    .channels__channelsContainer_channelBox_channelTextBox_progListFirst {
        font-size: 16px;
    }

    .channels__channelsContainer_channelBox_channelTextBox_progList {
        font-size: 16px;
    }
}

@media screen and (min-width: 730px) and (max-width: 927px) {
    .channels__channelsContainer_channelBox_imgBox {
        width: 25rem
    }

    .channels__channelsContainer_channelBox_channelTextBox_progListFirst {
        font-size: 14px;
    }

    .channels__channelsContainer_channelBox_channelTextBox_progList {
        font-size: 14px;
    }
}

@media screen and (min-width: 520px) and (max-width: 729px) {
    .channels__channelsContainer_channelBox_imgBox {
        width: 16rem
    }

    .channels__channelsContainer_channelBox_channelTextBox_progListFirst {
        font-size: 12px;
    }

    .channels__channelsContainer_channelBox_channelTextBox_progList {
        font-size: 12px;
    }
}

@media screen and (min-width: 320px) and (max-width: 519px) {
    .channels__channelsContainer_channelBox_imgBox {
        width: 12rem
    }

    .channels__channelsContainer_channelBox_channelTextBox_progListFirst {
        font-size: 10px;
        overflow-wrap: break-word;
    }

    .channels__channelsContainer_channelBox_channelTextBox_progList {
        font-size: 10px;
        overflow-wrap: break-word;
    }
}