
.films {
    display: flex;
    max-width: 118rem;
    margin: 0 auto;
    flex: 1;
    width: 100%;
}

.films__filmsWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 3rem;
    align-content: space-between;
}

.films__filmsWrapper_newFilms {
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

.films__filmsWrapper_newFilms_newFilmsTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.films__filmsWrapper_genre_newFilmsTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.films__filmsWrapper_newFilms_newFilmsTitle_fireIco {
    margin-right: 0.5rem;
}

.films__filmsWrapper_newFilms_filmsContainer {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    flex: 1;
    margin-right: 6rem;
}

.films__filmsWrapper_newFilms_filmsContainer_movieItem {
    display: flex;
    flex-direction: column;
    flex: 1;
    align-content: space-between;
}

.films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_moviePicture {
    border-radius: 0.8rem;
    cursor: pointer;
    display: inline-block;
    position: relative;
}

.films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_moviePicture::after {
    content: attr(data-title);  
}

.films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_moviePicture:hover::after {
    content: attr(data-title);
    position: absolute;
    line-height: 22.4px;
    z-index: 2;
    background: rgba(51, 51, 51, 51, 0.8); 
    font-size: 16px;
    left: 1.6rem; top:1.6rem; right: 1.6rem;
    color: #f2f2f2;
    text-align: left;
}

.films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_filmsName {
    font-style: normal;
    font-weight: 400;
    line-height: 22.4px;
    font-size: 2rem;
    text-align: left;
    margin-top: 1.6rem;
    letter-spacing: -0.05rem;
}

.films__filmsWrapper_genre {
    margin-top: 3rem;
}

.films__filmsWrapper_genre_genreContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1.6rem;
    justify-content: space-between;
    cursor: pointer;
}

.films__filmsWrapper_genre_genreContainer_movieBox {
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.comedy {
    background: linear-gradient(127.83deg, RGBA(242, 201, 76, 0.8) 8.44%, RGBA(242, 154, 74, 0.8) 91.36%);
}

.comedy:hover {
    background: linear-gradient(127.83deg, RGBA(242, 201, 76, 1) 8.44%, RGBA(242, 154, 74, 1) 91.36%);
}

.dramas {
    background: linear-gradient(127.83deg, RGBA(242, 153, 74, 0.8) 8.44%, RGBA(235, 87, 87, 0.8) 91.36%);
}

.dramas:hover {
    background: linear-gradient(127.83deg, RGBA(242, 153, 74, 1) 8.44%, RGBA(235, 87, 87, 1) 91.36%);
}

.scienceFiction {
    background: linear-gradient(127.83deg, RGBA(86, 204, 242, 0.8) 8.44%, RGBA(47, 128, 237, 0.8) 91.36%);
}

.scienceFiction:hover {
    background: linear-gradient(127.83deg, RGBA(86, 204, 242, 1) 8.44%, RGBA(47, 128, 237, 1) 91.36%);
}

.horrors {
    background: linear-gradient(127.83deg, RGBA(130, 130, 130, 0.8) 8.44%, RGBA(51, 51, 51, 0.8) 91.36%);
}

.horrors:hover {
    background: linear-gradient(127.83deg, RGBA(130, 130, 130, 1) 8.44%, RGBA(51, 51, 51, 1) 91.36%);
}

.films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoji {
    font-style: normal;
    font-weight: 400;
    line-height: 57px;
}

.films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 23.7px;
    color: white;
    overflow-wrap: break-word;
}

.films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards {
    text-decoration: none;
    color: #333333;
}

.films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres {
    text-decoration: none;
}

@media screen and (min-width:928px) {
    .films__filmsWrapper_newFilms_filmsContainer_movieItem {
        max-width: 28rem;
    }

    .films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_moviePicture {
        height: 37rem;
    }

    .films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_filmsName {
        font-size: 20px;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox{
        width: 28rem;
        height: 20.8rem;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoji {
        font-size: 48px;
        margin-top: 6rem;
        margin-bottom: 2.8rem;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoTitle {
        font-size: 20px;
    }
}

@media screen and (min-width: 730px) and (max-width: 927px) {
    .films__filmsWrapper_newFilms_filmsContainer_movieItem {
        max-width: 18rem;
    }

    .films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_moviePicture {
        height: 24rem;
    }

    .films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_filmsName {
        font-size: 18px;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox {
        width: 24rem;
        height: 16rem;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoji {
        font-size: 34px;
        margin-top: 4rem;
        margin-bottom: 2.2rem;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoTitle {
        font-size: 18px;
    }
}

@media screen and (min-width: 520px) and (max-width: 729px) {
    .films__filmsWrapper_newFilms_filmsContainer_movieItem {
        max-width: 12rem;
    }

    .films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_moviePicture {
        height: 18rem;
    }

    .films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_filmsName {
        font-size: 14px;
        overflow-wrap: break-word;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox {
        width: 20rem;
        height: 14rem;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoji {
        font-size: 30px;
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoTitle {
        font-size: 16px;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 519px) {
    .films__filmsWrapper_newFilms_filmsContainer_movieItem {
        max-width: 10rem;
    }

    .films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_moviePicture {
        height: 12rem;
    }

    .films__filmsWrapper_newFilms_filmsContainer_movieItem_hrefCards_filmsName {
        font-size: 12px;
        overflow-wrap: break-word;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox {
        width: 18rem;
        height: 12rem;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoji {
        font-size: 26px;
        margin-top: 2.8rem;
        margin-bottom: 1.1rem;
    }

    .films__filmsWrapper_genre_genreContainer_movieBox_hrefGenres_emoTitle {
        font-size: 14px;
    }
    
}