
.Films {
    display: flex;
    max-width: 118rem;
    margin: 0 auto;
    flex: 1;
}

.filmsWrapper {
    display: flex;
    flex-direction: column;
    margin-top: 4.1rem;
    justify-content: space-between;
    width: 100%;
}

.newFilms {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.newFilmsTitle {
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 28px;
    text-align: left;
}

.filmsContainer {
    margin-top: 1.6rem;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.movieItem {
    display: flex;
    flex-direction: column;
    margin-right: 2rem;
}

.moviePicture {
    border-radius: 0.8rem;
    cursor: pointer;
}

.filmsName {
    font-style: normal;
    font-weight: 400;
    line-height: 24px;
    font-size: 2rem;
    text-align: left;
    margin-top: 1.6rem;
}

.genre {
    margin-top: 3.2rem;
}

.genreContainer {
    display: flex;
    flex-direction: row;
    margin-top: 1.6rem;
    justify-content: space-between;
    cursor: pointer;
}

.movieBox {
    opacity: 0.8;
    border-radius: 0.6rem;
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.movieBox:hover {
    opacity: 1;
}

.comedy {
    background: linear-gradient(127.83deg, #F2C94C 8.44%, #F29A4A 91.36%);
}

.dramas {
    background: linear-gradient(127.83deg, #F2994A 8.44%, #EB5757 91.36%);
}

.scienceFiction {
    background: linear-gradient(127.83deg, #56CCF2 8.44%, #2F80ED 91.36%);
}

.horrors {
    background: linear-gradient(127.83deg, #828282 8.44%, #333333 91.36%);
}

.emoji {
    font-family: Rubik;
    font-style: normal;
    font-weight: 400;
    line-height: 57px;
}

.emoTitle {
    font-style: normal;
    font-weight: 400;
    font-size: 2rem;
    line-height: 23.7px;
    color: white;
}

.hrefCards {
    text-decoration: none;
    color: #333333;
}

.hrefGenres {
    text-decoration: none;
}

@media screen and (min-width:928px) {
    .movieItem {
        max-width: 28rem;
    }

    .moviePicture {
        height: 37rem;
    }

    .filmsName {
        font-size: 20px;
    }

    .movieBox {
        width: 28rem;
        height: 20.8rem;
    }

    .emoji {
        font-size: 48px;
        margin-top: 6rem;
        margin-bottom: 3.2rem;
    }

    .emoTitle {
        font-size: 20px;
    }
}

@media screen and (min-width: 730px) and (max-width: 927px) {
    .movieItem {
        max-width: 18rem;
    }

    .moviePicture {
        height: 24rem;
    }

    .filmsName {
        font-size: 18px;
    }

    .movieBox {
        width: 24rem;
        height: 16rem;
    }

    .emoji {
        font-size: 34px;
        margin-top: 4rem;
        margin-bottom: 2.2rem;
    }

    .emoTitle {
        font-size: 18px;
    }
}

@media screen and (min-width: 520px) and (max-width: 729px) {
    .movieItem {
        max-width: 12rem;
    }

    .moviePicture {
        height: 18rem;
    }

    .filmsName {
        font-size: 14px;
        overflow-wrap: break-word;
    }

    .movieBox {
        width: 20rem;
        height: 14rem;
    }

    .emoji {
        font-size: 30px;
        margin-top: 3.5rem;
        margin-bottom: 1.5rem;
    }

    .emoTitle {
        font-size: 16px;
    }
    
}

@media screen and (min-width: 320px) and (max-width: 519px) {
    .movieItem {
        max-width: 10rem;
    }

    .moviePicture {
        height: 12rem;
    }

    .filmsName {
        font-size: 12px;
        overflow-wrap: break-word;
    }

    .movieBox {
        width: 18rem;
        height: 12rem;
    }

    .emoji {
        font-size: 26px;
        margin-top: 2.8rem;
        margin-bottom: 1.1rem;
    }

    .emoTitle {
        font-size: 14px;
    }
    
}