.body {
    display: flex;
    justify-content: center;
    width: 100vw;
    max-width: 100%;
}

.body__bodyWrapper {
    display: flex;
    flex-direction: column;
}

.body__bodyWrapper_navigationBox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: 0 auto;
    margin-top: 4.1rem;
}

.body__bodyWrapper_navigationBox_toggleWords {
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    margin: 0 1.2rem;
    cursor: pointer;
    border: none;
    background-color: unset;
    display: table;
    height: 4.4rem;
}

.body__bodyWrapper_navigationBox_toggleWords.active {
    color: #E5261E;
    border-bottom: 2px solid #E5261E;
    transition: all 0.8s;
}

.body__bodyWrapper_bodyMain {
    display: flex;
}

