.buttonAuth {
    font-weight: 500;
    background: #E5261E;
    width: 11.3rem;
    height: 3.8rem;
    color: white;
    border-radius: 0.4rem;
    border: none;
    margin-top: 11.1rem;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.buttonAuth:hover {
    background: #CC221B;
}

.button{
    font-weight: 500;
    background: #E5261E;
    width: 11.3rem;
    height: 3.8rem;
    color: white;
    border-radius: 0.4rem;
    border: none;
    cursor: pointer;
    letter-spacing: 0.1rem;
}

.button:hover {
    background: #CC221B;
}

.authorization {
    width: 30.4rem;
    height: 39.4rem;
    border-radius: 0.8rem;
    position: absolute;
    margin-top: 20.3rem;
    background: white;
    text-align: center;
    z-index: 10;
}

.enterWord {
    margin-top: 3.6rem;
    font-size: 28px;
    font-style: normal;
    font-weight: 500;
    line-height: 33px;
    margin-bottom: 3.2rem;
}

.authorizationContainer {
    display: flex;
    flex-direction: column;
    width: 23.2rem;
    margin-left: 3.6rem;
}

#login {
    border: none;
    border-bottom: 0.1rem solid #333333;
    width: 100%;
}

#password {
    margin-top: 3.2rem;
    border: none;
    border-bottom: 0.1rem solid #333333;
}

.checkBox {
    margin-top: 2.4rem;
    display: flex;
    flex-direction: row;
}

#checkMark {
    margin-left: 3.6rem;
    width: 1.6rem;
    height: 1.6rem;
    border-radius: 0.4rem;
    display: none;
}

input:checked + label:before {
    content: '\2714';
    color: red;
}

.rememberWord {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    margin-left: 0.8rem;
    cursor: pointer;
    letter-spacing: -0.05rem;
}

.rememberWord:before {
    content: " ";
    color: #333333;
    display: inline-block;
    position: relative;
    text-align: center;
    text-indent: 0px;
    width: 1.5rem;
    height: 1.4rem;
    background: #FFF;
    border: 1px solid #333333;
    border-image: initial;
    vertical-align: middle;
    border-radius: 0.4rem;
    margin-right: 0.8rem;
    margin-left: 2.8rem;
    cursor: pointer;
}

.authorizationWrapper {
    height: 100%;
}

.authorizationOff {
    background: #333333;
    opacity: 0.6;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 9;
    height: 114.4rem;
    overflow: hidden;
}


@media screen and (min-width: 1025px) {
    .authorization {
        margin-left: 60.8rem;
    }
}

@media screen and (min-width: 769px) and (max-width: 1024px) {
    .authorization {
        margin-left: 37.8rem;
    }
}

@media screen and (min-width: 541px) and (max-width: 769px) {
    .authorization {
        margin-left: 22.8rem;
    }
}

@media screen and (min-width: 415px) and (max-width: 541px) {
    .authorization {
        margin-left: 11.8rem;
    }
}

@media screen and (min-width: 411px) and (max-width: 415px) {
    .authorization {
        margin-left: 4.8rem;
    }
}

@media screen and (min-width: 320px) and (max-width: 411px) {
    .authorization {
        margin-left: 2rem;
    }
}
