.footer {
    display: flex;
    background: #F2F2F2;    
    margin-top: 7.2rem;
    height: 12rem;
}

.footer__footerWrapper {
    display: flex;
    flex-direction: row;
    justify-content: left;
    max-width: 118rem;
    margin: 0 auto;
    flex: 1;
    align-items: center;
}

.footer__footerWrapper_cs-logo {
    margin-right: 3.998rem;
    max-height: 6.4rem;
}

.footer__footerWrapper_footerTextBox {
    display: flex;
    flex-direction: column;
    margin-top: -0.5rem;
}

.footer__footerWrapper_footerTextBox_footerText {
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 19px;
    text-align: left;
    padding: 0.3rem 0;
    letter-spacing: -0.035rem;
}

.footer__footerWrapper_footerTextBox_footerText_tel {
    text-decoration: none;
    color: #333333;
    margin-right: 0.3rem;
}

.footer__footerWrapper_footerTextBox_hrefMainSite {
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 19px;
    text-align: left;
    padding-top: 0.7rem;
    text-decoration: none;
    color: #1F4766;
}